body{
    background-color: #082032;
    margin: 0px;
    font-family: 'Abel', sans-serif;
    text-align: center;
 
}

.cute_bear{
    color: #F0A500;
    font-weight: lighter;
    
}
.bear_hand{
    font-size: 3.2rem;
    color: #F0A500;
}
.Hi_heading{
    position: relative;
    margin-left: 2rem;
    font-family: 'Reenie Beanie', cursive;
    font-size: 12.50rem;
    margin-bottom: 0;
    margin-top: 6.5rem;
    letter-spacing: 1.15rem;
    
    background-image: linear-gradient(25deg,#6df58d,#60eeb1,#40bbbd,#22577A);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: hi_color_animation 2s infinite alternate;
    
   
}
.Hi_heading:hover{
    text-shadow: #082032 ;
}
@keyframes hi_color_animation {
    0%{
        background-position: 0% 30%;
    }
    100%{
        background-position: 100% 50%;
    }
}


.loading_animation{
    height: 100px;
}
.speach_bubble{
    height: 20rem;
    position: relative;
    bottom:  15.2rem;
    left: 1.7rem;
    
}

.bear{
    position: relative;
    margin-right: 16rem;
    margin-top: 0;
    font-size: 3.8rem;
    color: #22344d;
    filter: drop-shadow(.09em .1em .2em);
    
}
.bear_hi{
    position: relative;
    left: 1.2rem;
    height: 18rem;
}
.greating_div{
    position: relative;
    right: 5rem;
}
