*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
body{
    overflow-x: hidden;
    
    background-color: rgb(252,253,255);
    position:relative;
}
html{
    overflow-x: initial !important;
    
}

::-webkit-scrollbar{
    
    width: 11px; 
} 
::-webkit-scrollbar-track{
    background-color: #e2e2e2;
    border-radius: 100vw;
    margin-block: .5em;
    margin-inline: 3em;
}
::-webkit-scrollbar-thumb{
    background: #388ad144;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: #388ad1;
    
}



/*  image cards  START  */


  
.image_cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   width :100%;
    background: transparent;
    margin-top: 16%;
  }
  
  .l-container {
    display: -ms-grid;
    display: grid;
    justify-content: center;
    -ms-grid-columns: (3, 25%);
    grid-template-columns: repeat(3,25%);
    grid-gap: 6%;
    width: 100%;
    
    padding: 20px;
  }
  
  @media screen and (max-width: 760px) {
    .l-container {
        -ms-grid-columns: (1,80%);
        grid-template-columns: repeat(1, 80%);
    }
  }
  
  .b-game-card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-bottom: 150%;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .b-game-card__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    will-change: transform;
    -webkit-transform: skewX(0.001deg);
            transform: skewX(0.001deg);
    -webkit-transition: -webkit-transform .35s ease-in-out;
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
  }
  
  .b-game-card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  
  .b-game-card:hover .b-game-card__cover {
    -webkit-transform: rotateX(7deg) translateY(-6px);
            transform: rotateX(7deg) translateY(-6px);
  }
  
  .b-game-card:hover .b-game-card__cover::after {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .b-game-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: skewX(0.001deg);
            transform: skewX(0.001deg);
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
    transition: transform .35s ease-in-out, opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
  }
  
  .b-game-card:hover::before {
    opacity: 0.6;
    -webkit-transform: rotateX(7deg) translateY(-6px) scale(1.05);
            transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }

.waves_box{
 
}

.jap_tree{
   
}


/*  image cards STOP */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}
.logo{
    position: absolute;
    left: 2%;
    background-image: linear-gradient(60deg,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1, #388ad1,#388ad1,#388ad1, #40daf5,#bbf5ff,#31b9d1,#388ad1, #388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1);
    background-size: 1000%;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-size: 5.5vh;
    animation: art_logo_animation 5s linear infinite;
}
.logo_link:link{
    color: transparent;
}
.nav-links{
    display: flex;
    position: relative;
    background-color: transparent;
    justify-content: space-around;
    width: 70%;
    left: 15%;
}
.nav-links a{
    color: #388ad1;
    
    text-decoration: none;
    letter-spacing: .5vw;
    font-size:calc(30px + .9vw);
}
.nav-links li{
    list-style: none;
    margin-top: 33px;
}

/* Link Animation  Start*/

.art_link:link{
    background-image: linear-gradient(60deg,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1, #388ad1,#388ad1,#388ad1, #40daf5,#bbf5ff,#31b9d1,#388ad1, #388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1,#388ad1);
    background-size: 1000%;
    -webkit-background-clip: text;
    color: transparent;
    animation: art_logo_animation 3s linear infinite;
    
    font-weight: bold;

}
.art_link::after{
   position: absolute;
   content: "";
   top: 100%;
   left: 0;
   width: 100%;
   height: 0.3rem;
   background-color: #31b9d1;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 250ms;
}
.art_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.art_link{
    position: relative;

}
.art_link::after{
   position: absolute;
   content: "";
   top: 95%;
   left: 0;
   width: 100%;
   height: 0.3rem;
   border-radius: 50%;
   background-image: linear-gradient(25deg, #0051ff,#028fe0,#007ac0,#006caa,#2e9edf,#0e8bd3,#006caa,#007ac0,#028fe0);
   background-position: center;
   box-shadow: rgba(0, 0, 0, .4) 3px 6px 15px ;
   background-size: 200%;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 250ms;
}
.art_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.project_link{
    position: relative;
}
.project_link:link{
    font-size: calc(25px + .9vw);;
}
.project_link::after{
   position: absolute;
   content: "";
   top: 95%;
   left: 0;
   width: 100%;
   height: 0.3rem;
   border-radius: 50%;
   background-image: linear-gradient(25deg, #0051ff,#028fe0,#007ac0,#006caa,#2e9edf,#0e8bd3,#006caa,#007ac0,#028fe0);
   background-position: center;
   box-shadow: rgba(0, 0, 0, .4) 3px 6px 15px ;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 250ms;
}
.project_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.about_me_link{
    position: relative;
}
.about_me_link:link{
    font-size: calc(25px + .9vw);
}
.about_me_link::after{
   position: absolute;
   content: "";
   top: 95%;
   left: 0;
   width: 100%;
   height: 0.3rem;
   border-radius: 50%;
   background-image: linear-gradient(25deg, #0051ff,#028fe0,#007ac0,#006caa,#2e9edf,#0e8bd3,#006caa,#007ac0,#028fe0);
   background-position: center;
   box-shadow: rgba(0, 0, 0, .4) 3px 6px 15px ;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 250ms;
}
.about_me_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


/* Link Animation  End*/

.burger{
    display: none;
}
.burger div{
    width: 4.3vh;
    height: 5px;
    background-color: #388ad1;
    margin: 3px;
    border-radius: .5vw;
    transition: all 0.3s ease;
}
@keyframes art_logo_animation {
    0%{
        background-position: right;
    }
    100% {
        background-position: left;
    }
}




.welcome{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
    font-family: 'Poppins', sans-serif;
    color: #e2e2e2;
    margin-top: 15%;
}
.cute_bear{
    position: absolute;
    width: 25%;
    left: 42.5%;
   

}

.first_headline{
    
    font-family: 'Poppins', sans-serif;
    margin-top: 19vh;
    margin-left: 55%;
}
.mathis_sign{
    margin-top: 30%;
    width: 90%;
}


.subtitle{
    font-size: 3.3vw;
    margin-left: 4%;
    color: rgb(39, 39, 39);
    font-weight: normal;
}





@media screen and (max-width : 1250px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        width: 70%;

    }
}
@media screen and (max-width : 800px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 30vh;
        left: 50vw;
        top: 8vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
        z-index: 3;
    }
    ul {
        border-top-left-radius: 4vh;
        border-bottom-left-radius: 4vh;

    }
    .cute_bear{
        
        width: 50%;
        left: 32%;
    }
    .image_cards{
        margin-top: 5%;
    }
    .nav-links li{
        opacity: 0;

    }
    .nav-links a{
        font-size: 3vh;
    }
    .burger{
        display: block;
        position: absolute;
        right: 10vw;
        cursor: pointer;
    }
    .art_link{
        color: yellowgreen;
    }
    .logo {
        position: relative;
        left: -1%;
    }
    
    .first_headline{
        margin-left: 28%;
        margin-top: 95%;
    }
    .mathis_sign{
        width: 95%;
        height: auto;
    }
    .subtitle{
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        margin-left: 4.5%;
    }
    .art_link:link{
        font-size:calc(30px + .9vw);
    }
    .project_link:link{
        font-size:calc(22px + .9vw);
    }
    .about_me_link:link{
        font-size:calc(22px + .9vw);
    }
    

   

    
    
}


.nav-active{
    transform: translateX(0%);
}




@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:  translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

